.effect-solar {
  /* background: linear-gradient(to bottom, #ff00040d, #ff00041a); */
  background: linear-gradient(to bottom, var(--color-primary), var(--color-warning));
}

.effect-influence {
  background: linear-gradient(to bottom, #480048, #C04848);
}

.effect-pino {
  background: linear-gradient(to bottom, #182848, #4b6cb7);
}

.effect-sunset {
  background: linear-gradient(to bottom, #ff5acd 0.000%, #ff9188 50.000%, #fada61 100.000%);
}
