@import 'tailwindcss';

@import 'tw-animate-css';

@font-face {
  font-family: 'Golos UI VF';
  src: url('/fonts/golos-ui_vf.woff2') format('woff2'),
    url('/fonts/golos-ui_vf.woff') format('woff');
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
}

:root {
  --background: oklch(0.9824 0.0093 62.5888);
  --foreground: oklch(0.1914 0.0213 62.6491);
  --card: oklch(0.9925 0.0051 67.7654);
  --card-foreground: oklch(0.1914 0.0213 62.6491);
  --popover: oklch(0.9925 0.0051 67.7654);
  --popover-foreground: oklch(0.1549 0.0237 65.9272);
  --primary: oklch(0.6461 0.1943 41.1158);
  --primary-foreground: oklch(0.9824 0.0093 62.5888);
  --secondary: oklch(0.9138 0.0216 65.3013);
  --secondary-foreground: oklch(0.2662 0.0232 60.8564);
  --muted: oklch(0.9138 0.0216 65.3013);
  --muted-foreground: oklch(0.4635 0.0324 59.7403);
  --accent: oklch(0.9138 0.0216 65.3013);
  --accent-foreground: oklch(0.2662 0.0232 60.8564);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.7106 0.1661 22.2162);
  --constructive: oklch(0.6637 0.161 150.99);
  --border: oklch(0.9138 0.0216 65.3013);
  --input: oklch(0.9925 0.0051 67.7654);
  --ring: oklch(0.759 0.0439 61.2561);
  --chart-1: oklch(0.6481 0.2166 37.071);
  --chart-2: oklch(0.6049 0.107 184.1653);
  --chart-3: oklch(0.3972 0.0698 227.1914);
  --chart-4: oklch(0.829 0.1712 81.0381);
  --chart-5: oklch(0.7724 0.1728 65.367);
  --sidebar: oklch(0.9824 0.0093 62.5888);
  --sidebar-foreground: oklch(0.4635 0.0324 59.7403);
  --sidebar-primary: oklch(0.2662 0.0232 60.8564);
  --sidebar-primary-foreground: oklch(0.9824 0.0093 62.5888);
  --sidebar-accent: oklch(0.9138 0.0216 65.3013);
  --sidebar-accent-foreground: oklch(0.2662 0.0232 60.8564);
  --sidebar-border: oklch(0.8479 0.0323 62.7588);
  --sidebar-ring: oklch(0.759 0.0439 61.2561);
  --font-sans: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: hsl(20 18% 51% / 0.4);
  --shadow-2xs: 0px 0px 0px 0px hsl(20 18% 51% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(20 18% 51% / 0);
  --shadow-sm: 0px 0px 0px 0px hsl(20 18% 51% / 0), 0px 1px 2px -1px hsl(20 18% 51% / 0);
  --shadow: 0px 0px 0px 0px hsl(20 18% 51% / 0), 0px 1px 2px -1px hsl(20 18% 51% / 0);
  --shadow-md: 0px 0px 0px 0px hsl(20 18% 51% / 0), 0px 2px 4px -1px hsl(20 18% 51% / 0);
  --shadow-lg: 0px 0px 0px 0px hsl(20 18% 51% / 0), 0px 4px 6px -1px hsl(20 18% 51% / 0);
  --shadow-xl: 0px 0px 0px 0px hsl(20 18% 51% / 0), 0px 8px 10px -1px hsl(20 18% 51% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(20 18% 51% / 0);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1914 0.0213 62.6491);
  --foreground: oklch(0.9824 0.0093 62.5888);
  --card: oklch(0.1549 0.0237 65.9272);
  --card-foreground: oklch(0.9925 0.0051 67.7654);
  --popover: oklch(0.1549 0.0237 65.9272);
  --popover-foreground: oklch(0.9925 0.0051 67.7654);
  --primary: oklch(0.6461 0.1943 41.1158);
  --primary-foreground: oklch(0.9824 0.0093 62.5888);
  --secondary: oklch(0.4124 0.0271 62.5666);
  --secondary-foreground: oklch(0.9138 0.0216 65.3013);
  --muted: oklch(0.2662 0.0232 60.8564);
  --muted-foreground: oklch(0.6677 0.0342 59.4553);
  --accent: oklch(0.2662 0.0232 60.8564);
  --accent-foreground: oklch(0.9138 0.0216 65.3013);
  --destructive: oklch(0.5664 0.1887 24.6729);
  --destructive-foreground: oklch(0.7106 0.1661 22.2162);
  --constructive: oklch(0.6637 0.161 150.99);
  --border: oklch(0.2662 0.0232 60.8564);
  --input: oklch(0.1549 0.0237 65.9272);
  --ring: oklch(0.4635 0.0324 59.7403);
  --chart-1: oklch(0.4878 0.2432 264.4045);
  --chart-2: oklch(0.7019 0.1577 160.4375);
  --chart-3: oklch(0.7712 0.1721 65.6848);
  --chart-4: oklch(0.6217 0.2589 305.309);
  --chart-5: oklch(0.6435 0.2452 16.501);
  --sidebar: oklch(0.1914 0.0213 62.6491);
  --sidebar-foreground: oklch(0.759 0.0439 61.2561);
  --sidebar-primary: oklch(0.9824 0.0093 62.5888);
  --sidebar-primary-foreground: oklch(0.2662 0.0232 60.8564);
  --sidebar-accent: oklch(0.2662 0.0232 60.8564);
  --sidebar-accent-foreground: oklch(0.9138 0.0216 65.3013);
  --sidebar-border: oklch(0.4124 0.0271 62.5666);
  --sidebar-ring: oklch(0.4635 0.0324 59.7403);
  --font-sans: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #352314;
  --shadow-2xs: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0);
  --shadow-sm: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0),
    0px 1px 2px -1px hsl(27.2727 45.2055% 14.3137% / 0);
  --shadow: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0),
    0px 1px 2px -1px hsl(27.2727 45.2055% 14.3137% / 0);
  --shadow-md: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0),
    0px 2px 4px -1px hsl(27.2727 45.2055% 14.3137% / 0);
  --shadow-lg: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0),
    0px 4px 6px -1px hsl(27.2727 45.2055% 14.3137% / 0);
  --shadow-xl: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0),
    0px 8px 10px -1px hsl(27.2727 45.2055% 14.3137% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(27.2727 45.2055% 14.3137% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-constructive: var(--constructive);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground text-base font-normal;
    font-family: 'Golos UI VF', sans-serif;
    letter-spacing: var(--tracking-normal);
  }
}
@custom-variant standalone {
  @media (display-mode: standalone) {
    @slot;
  }
}

@layer base {
  html,
  body {
    touch-action: pan-y;
    user-select: none;
  }

  p a {
    @apply text-primary underline underline-offset-3;
  }

  button:active {
    scale: 0.98;
  }

  /* Hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

@layer typography {
  h1 {
    @apply text-3xl sm:text-4xl font-semibold tracking-tight text-balance;
  }

  h2 {
    @apply text-2xl font-semibold tracking-tight text-balance;
  }

  h3 {
    @apply text-lg font-semibold tracking-tight text-balance;
  }

  p {
    @apply leading-relaxed text-pretty;
  }

  input {
    /* changing font possibly breaks this vertical alignment adjustment */
    @apply pt-[calc(var(--spacing)*1-0.2em)];
  }
}

@layer transitions {
  @media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }
  }

  :root {
    /* view-transition-name: none; */
  }
  
  /* ::view-transition-old(root){animation:.25s ease both zoom-out}
  ::view-transition-new(root){animation:.25s ease both zoom-in}
  @keyframes zoom-in{from{transform:scale(.98);opacity:0}to{transform:scale(1);opacity:1}}
  @keyframes zoom-out{from{transform:scale(1);opacity:1}to{transform:scale(1.02);opacity:0}} */
}
