@import 'tailwindcss';

@import 'tw-animate-css';

@font-face {
  font-family: 'Golos UI VF';
  src:
    url('/fonts/golos-ui_vf.woff2') format('woff2'),
    url('/fonts/golos-ui_vf.woff') format('woff');
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
}

:root {
  --background: oklch(0.9824 0.0093 62.5888);
  --foreground: oklch(0.1914 0.0213 62.6491);
  --card: oklch(0.9925 0.0051 67.7654);
  --card-foreground: oklch(0.1914 0.0213 62.6491);
  --popover: oklch(0.9925 0.0051 67.7654);
  --popover-foreground: oklch(0.1549 0.0237 65.9272);
  --primary: oklch(0.6461 0.1943 41.1158);
  --primary-foreground: oklch(0.9824 0.0093 62.5888);
  --secondary: oklch(0.9138 0.0216 65.3013);
  --secondary-foreground: oklch(0.2662 0.0232 60.8564);
  --muted: oklch(0.9138 0.0216 65.3013);
  --muted-foreground: oklch(0.4635 0.0324 59.7403);
  --accent: oklch(0.9138 0.0216 65.3013);
  --accent-foreground: oklch(0.2662 0.0232 60.8564);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.7106 0.1661 22.2162);
  --constructive: oklch(0.6637 0.161 150.99);
  --constructive-foreground: oklch(0.9824 0.0093 62.5888);
  --warning: oklch(0.7724 0.1728 65.367);
  --border: oklch(0.9138 0.0216 65.3013);
  --input: oklch(0.9925 0.0051 67.7654);
  --ring: oklch(0.759 0.0439 61.2561);
  --chart-1: oklch(0.6481 0.2166 37.071);
  --chart-2: oklch(0.6049 0.107 184.1653);
  --chart-3: oklch(0.3972 0.0698 227.1914);
  --chart-4: oklch(0.829 0.1712 81.0381);
  --chart-5: oklch(0.7724 0.1728 65.367);
  --sidebar: oklch(0.9824 0.0093 62.5888);
  --sidebar-foreground: oklch(0.4635 0.0324 59.7403);
  --sidebar-primary: oklch(0.2662 0.0232 60.8564);
  --sidebar-primary-foreground: oklch(0.9824 0.0093 62.5888);
  --sidebar-accent: oklch(0.9138 0.0216 65.3013);
  --sidebar-accent-foreground: oklch(0.2662 0.0232 60.8564);
  --sidebar-border: oklch(0.8479 0.0323 62.7588);
  --sidebar-ring: oklch(0.759 0.0439 61.2561);
  --font-sans: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
  --shadow-color: rgb(0 0 0 / 0.1);
  --gradient-premium: linear-gradient(135deg, #d2a754 0%, #ffe1b4 35%, #e8ba66 65%, #c9984e 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.1914 0.0213 62.6491);
    --foreground: oklch(0.9824 0.0093 62.5888);
    --card: oklch(0.1549 0.0237 65.9272);
    --card-foreground: oklch(0.9925 0.0051 67.7654);
    --popover: oklch(0.2662 0.0232 60.8564);
    --popover-foreground: oklch(0.9925 0.0051 67.7654);
    --primary: oklch(0.6461 0.1943 41.1158);
    --primary-foreground: oklch(0.9824 0.0093 62.5888);
    --secondary: oklch(0.4124 0.0271 62.5666);
    --secondary-foreground: oklch(0.9138 0.0216 65.3013);
    --muted: oklch(0.2662 0.0232 60.8564);
    --muted-foreground: oklch(0.6677 0.0342 59.4553);
    --accent: oklch(0.2662 0.0232 60.8564);
    --accent-foreground: oklch(0.9138 0.0216 65.3013);
    --destructive: oklch(0.5664 0.1887 24.6729);
    --destructive-foreground: oklch(0.7106 0.1661 22.2162);
    --constructive: oklch(0.6637 0.161 150.99);
    --constructive-foreground: oklch(0.9824 0.0093 62.5888);
    --warning: oklch(0.7712 0.1721 65.6848);
    --border: oklch(0.2662 0.0232 60.8564);
    --input: oklch(0.1549 0.0237 65.9272);
    --ring: oklch(0.4635 0.0324 59.7403);
    --chart-1: oklch(0.4878 0.2432 264.4045);
    --chart-2: oklch(0.7019 0.1577 160.4375);
    --chart-3: oklch(0.7712 0.1721 65.6848);
    --chart-4: oklch(0.6217 0.2589 305.309);
    --chart-5: oklch(0.6435 0.2452 16.501);
    --sidebar: oklch(0.1914 0.0213 62.6491);
    --sidebar-foreground: oklch(0.759 0.0439 61.2561);
    --sidebar-primary: oklch(0.9824 0.0093 62.5888);
    --sidebar-primary-foreground: oklch(0.2662 0.0232 60.8564);
    --sidebar-accent: oklch(0.2662 0.0232 60.8564);
    --sidebar-accent-foreground: oklch(0.9138 0.0216 65.3013);
    --sidebar-border: oklch(0.4124 0.0271 62.5666);
    --sidebar-ring: oklch(0.4635 0.0324 59.7403);
    --font-sans: Golos Text, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Golos Text, ui-sans-serif, sans-serif, system-ui;
    --font-mono: Golos Text, ui-sans-serif, sans-serif, system-ui;
    --radius: 0.5rem;
    --shadow-color: rgba(53, 35, 20, 0.1);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-constructive: var(--constructive);
  --color-constructive-foreground: var(--constructive-foreground);
  --color-warning: var(--warning);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground text-base font-normal;
    font-family: 'Golos UI VF', sans-serif;
    letter-spacing: var(--tracking-normal);
  }
}

@utility bg-premium {
  background: var(--gradient-premium);
}

@utility text-premium {
  background: var(--gradient-premium);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility border-premium {
  border-color: transparent;
  background:
    linear-gradient(var(--background), var(--background)) padding-box,
    var(--gradient-premium) border-box;
}

@custom-variant standalone {
  @media (display-mode: standalone) {
    @slot;
  }
}

@custom-variant tim {
  @supports (-webkit-touch-callout: none) and (not (hover: hover)) {
    @slot;
  }
}

@layer base {
  html,
  body {
    touch-action: pan-y;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }

  a,
  img {
    -webkit-user-drag: none;
  }

  p a {
    @apply text-primary underline underline-offset-3;
  }

  button:not([disabled]) {
    @apply cursor-pointer;
  }

  button:not([disabled]):active {
    scale: 0.98;
  }

  .selected {
    @apply bg-accent ring-2 ring-accent-foreground/20;
  }

  /* Hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

@layer typography {
  h1 {
    @apply text-3xl sm:text-4xl font-semibold tracking-tight text-balance;
  }

  h2 {
    @apply text-2xl font-semibold tracking-tight text-balance;
  }

  h3 {
    @apply text-lg font-semibold tracking-tight text-balance;
  }

  p {
    @apply text-pretty;
  }

  input {
    /* changing font possibly breaks this vertical alignment adjustment */
    @apply pt-[calc(var(--spacing)*1-0.2em)];
  }
}

@layer transitions {
  @media (prefers-reduced-motion: reduce) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }
  }

  ::view-transition-group(*.transition-spring),
  ::view-transition-old(*.transition-spring),
  ::view-transition-new(*.transition-spring) {
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.2, 1.2, 0.2, 1);
  }

  ::view-transition-old(.transition-morph),
  ::view-transition-new(.transition-morph) {
    animation-duration: 300ms;
    block-size: 100%;
  }

  ::view-transition-group(*.transition-instant),
  ::view-transition-old(*.transition-instant),
  ::view-transition-new(*.transition-instant) {
    animation-duration: 0s;
  }
}
